body {
    /*background-color: #222a2d;*/
    padding-bottom: 0;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
}

.main-container {
    background-color: #222a2d;
}

.navbar-fixed-top+.main-container {
    padding-top: 45px;
}

.sidebar {
    width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
    background-color: #222a2d;
}

.nav-list li.active>a:after,
.nav-list>li:before,
.nav-list>li>.submenu:before,
.nav-list>li>.submenu>li:before,
.sidebar .sidebar-toggle:before,
.sidebar.menu-min .nav-list>li>.submenu:after,
.sidebar:before,
li.divider:before {
    content: "";
}

.sidebar:before {
    display: block;
    width: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;
}

@media only screen and (max-width: 991px) {
    .responsive.sidebar-fixed {
        left: auto;
        margin-left: auto;
    }
    .navbar-fixed-top+.main-container>.responsive {
        position: fixed;
        left: auto;
        margin-left: auto;
    }
    .navbar-fixed-top+.main-container>.menu-toggler+.responsive {
        position: absolute;
        left: 190px;
        margin-left: -190px;
    }
    .navbar-fixed-top+.main-container>.menu-toggler+.responsive.sidebar-fixed {
        position: fixed;
        left: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 991px) {
    .sidebar.responsive.sidebar-fixed {
        position: fixed;
        left: auto;
        margin-left: auto;
    }
    .main-container .menu-toggler.fixed {
        position: fixed;
        left: auto;
        z-index: 1026;
    }
    .sidebar.sidebar-fixed.responsive-max {
        position: fixed;
        left: auto;
        margin-left: auto;
    }
}

.sidebar .sidebar-toggle {
    border-style: solid;
    border-width: 0 0 1px;
    text-align: center;
    padding: 3px 0;
    position: relative;
}

.sidebar .sidebar-toggle>.ace-icon {
    padding: 0 5px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100%;
    border: 1px solid;
    position: relative;
}

.sidebar .sidebar-toggle:before {
    content: "";
    display: block;
    height: 0;
    border-top: 1px solid;
    border-color: inherit;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 13px;
}

.sidebar .sidebar-shortcuts {
    text-align: center;
    min-height: 40px;
    margin-bottom: 0;
    position: relative;
    border: 0 solid;
    background-color: white;
}

.sidebar .sidebar-shortcuts:empty {
    display: none;
}

.sidebar .sidebar-shortcuts-large {
    line-height: 37px;
}

.sidebar .sidebar-shortcuts-large>.btn {
    text-align: center;
    width: 41px;
    line-height: 24px;
    padding: 0;
    border-width: 4px;
}

.sidebar .sidebar-shortcuts-large>.btn>.ace-icon {
    margin: 0;
}

.sidebar .sidebar-shortcuts-mini {
    display: none;
    font-size: 0;
    width: 42px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sidebar .sidebar-shortcuts-mini>.btn {
    border-width: 0;
    font-size: 0;
    line-height: 0;
    padding: 8px;
    margin: 1px;
    border-radius: 0;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .sidebar ::safari-only,
    .sidebar .sidebar-shortcuts-mini>.btn {
        margin: 0;
    }
}

.nav-list li.active>a:after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    border: 8px solid transparent;
    border-width: 14px 10px;
}

.nav-list li.open>a:after {
    display: none;
}

.nav-list li.active.no-active-child>a:after {
    display: block;
}

.nav-list>li li.active>a:after {
    top: 2px;
    border-width: 14px 8px;
}

.nav-list li.active:not(.open) li.active>a:after {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .sidebar.responsive:before {
        display: none;
    }
    .sidebar.responsive {
        -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.15);
        z-index: 1027;
        overflow: hidden;
        max-height: 0;
        -moz-transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -o-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        transform: translateX(-200px);
        -webkit-transition: -webkit-transform 0.2s linear 0s, max-height 0s linear 0.2s;
        -moz-transition: -moz-transform 0.2s linear 0s, max-height 0s linear 0.2s;
        -o-transition: -o-transform 0.2s linear 0s, max-height 0s linear 0.2s;
        transition: transform 0.2s linear 0s, max-height 0s linear 0.2s;
        position: relative;
        bottom: auto;
        left: 190px;
        margin-left: -190px;
    }
}

@media (min-width: 992px) and (max-width: 991px) {
    .sidebar.responsive.compact {
        -moz-transform: translateX(-115px);
        -webkit-transform: translateX(-115px);
        -o-transform: translateX(-115px);
        -ms-transform: translateX(-115px);
        transform: translateX(-115px);
    }
    .sidebar.responsive.compact.push_away.display+.main-content {
        -moz-transform: translateX(105px);
        -webkit-transform: translateX(105px);
        -o-transform: translateX(105px);
        -ms-transform: translateX(105px);
        transform: translateX(105px);
    }
    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.compact.push_away.display~.footer .footer-inner {
        -moz-transform: translateX(105px);
        -webkit-transform: translateX(105px);
        -o-transform: translateX(105px);
        -ms-transform: translateX(105px);
        transform: translateX(105px);
    }
}

@media only screen and (max-width: 991px) {
    .sidebar.responsive.menu-min {
        -moz-transform: translateX(-53px);
        -webkit-transform: translateX(-53px);
        -o-transform: translateX(-53px);
        -ms-transform: translateX(-53px);
        transform: translateX(-53px);
    }
    .sidebar.responsive.display {
        -moz-transform: none !important;
        -webkit-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        overflow: visible;
        max-height: 2000px;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
    .sidebar.responsive.push_away {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    .sidebar.responsive.push_away:before {
        display: block !important;
    }
    .sidebar.responsive.push_away+.main-content {
        -webkit-transition: -webkit-transform 0.2s linear 0s;
        -moz-transition: -moz-transform 0.2s linear 0s;
        -o-transition: -o-transform 0.2s linear 0s;
        transition: transform 0.2s linear 0s;
    }
    .sidebar.responsive.push_away.display+.main-content {
        -moz-transform: translateX(190px);
        -webkit-transform: translateX(190px);
        -o-transform: translateX(190px);
        -ms-transform: translateX(190px);
        transform: translateX(190px);
    }
    .sidebar.responsive.push_away.display.menu-min+.main-content {
        -moz-transform: translateX(43px);
        -webkit-transform: translateX(43px);
        -o-transform: translateX(43px);
        -ms-transform: translateX(43px);
        transform: translateX(43px);
    }
    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away:before {
        height: 5000px;
    }
    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away~.footer .footer-inner {
        -webkit-transition: -webkit-transform 0.2s linear 0s;
        -moz-transition: -moz-transform 0.2s linear 0s;
        -o-transition: -o-transform 0.2s linear 0s;
        transition: transform 0.2s linear 0s;
    }
    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away.display~.footer .footer-inner {
        -moz-transform: translateX(190px);
        -webkit-transform: translateX(190px);
        -o-transform: translateX(190px);
        -ms-transform: translateX(190px);
        transform: translateX(190px);
    }
    .navbar.navbar-fixed-top+.main-container .sidebar.responsive.push_away.display.menu-min~.footer .footer-inner {
        -moz-transform: translateX(43px);
        -webkit-transform: translateX(43px);
        -o-transform: translateX(43px);
        -ms-transform: translateX(43px);
        transform: translateX(43px);
    }
    .sidebar.responsive+.main-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-container.container .sidebar.responsive {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        display: none;
    }
    .main-container.container .sidebar.responsive:before {
        display: none !important;
    }
    .main-container.container .sidebar.responsive.display {
        display: block;
    }
    .main-container.container .sidebar.responsive.push_away+.main-content,
    .main-container.container .sidebar.responsive.push_away~.footer .footer-inner {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .responsive.sidebar-fixed {
        position: fixed;
    }
    .main-container .menu-toggler.fixed {
        position: fixed;
        left: auto;
        z-index: 1026;
        -moz-backface-visibility: hidden;
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list>li {
    border-color: #3f4e54;
}

.nav-list>li>.submenu {
    border-top-color: #505a5b;
}

.nav-list>li .submenu {
    background-color: #333d3f;
}

.nav-list>li>.submenu {
    border-top: 1px solid;
}

.nav-list>li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
}

.nav-list>li .submenu>li {
    margin-left: 0;
    position: relative;
}

.nav-list>li>.submenu:before,
.nav-list>li>.submenu>li:before {
    border-color: #646c70;
}

.nav-list>li.open>a,
.nav-list>li.open:hover>a {
    color: #85c0ec;
    background-color: #222a2d;
}

.nav-list>li:last-child {
    border-bottom-width: 1px;
}

.nav-list>li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0;
}

.nav-list>li>a {
    background-color: #222a2d;
    color: #bac2c8;
}

.nav-list>li,
.nav-list>li>a,
.nav-list .nav-header {
    margin: 0;
}

.nav-list>li>.submenu {
    border-top-color: #505a5b;
}

.nav-list>li .submenu {
    background-color: #333d3f;
}

.nav-list li.open>.submenu {
    display: block;
}

.nav-list>li>.submenu>li>a {
    color: #d9dfe6;
}

.nav-list>li .submenu>li>a {
    border-top-style: solid;
    border-top-color: #454d4e;
    background-color: #333d3f;
}

.nav-list>li>.submenu>li:first-child>a {
    border-top-width: 0;
}

.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    padding: 7px 0 9px 37px;
    margin: 0;
    border-top-width: 1px;
    border-top-style: dotted;
}

.nav-list>li .submenu>li.active>a>.menu-icon,
.nav-list>li .submenu>li:hover>a>.menu-icon {
    display: inline-block;
}

.nav-list>li .submenu>li a>.menu-icon {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: inherit;
}

.nav-list>li>.submenu>li:before {
    content: "";
    display: block;
    width: 7px;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 17px;
    border: 1px dotted;
    border-width: 1px 0 0;
}

.nav-list>li>.submenu>li:hover>a {
    color: #8ab4de;
}

.nav-list>li>.submenu>li>a {
    color: #d9dfe6;
}

.nav-list>li .submenu>li>a {
    border-top-style: solid;
    border-top-color: #454d4e;
    background-color: #333d3f;
}

.nav-list>li>.submenu>li:first-child>a {
    border-top-width: 0;
}

.nav-list>li .submenu>li>a {
    display: block;
    position: relative;
    padding: 7px 0 9px 37px;
    margin: 0;
    border-top-width: 1px;
    border-top-style: dotted;
    margin-left: 5px;
}

.nav-list>li .submenu>li>a:hover {
    background-color: #2d3638;
    text-decoration: none;
}

.nav-list>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
}

.nav-list>li.open>a,
.nav-list>li.open:hover>a {
    color: #85c0ec;
    background-color: #222a2d!important;
}

.navbar .navbar-toggle {
    background-color: #4D9DCC;
}

.navbar .navbar-toggle.pull-left {
    margin: 5px 0 4px 6px;
}

.navbar .navbar-toggle {
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 35px;
    line-height: 0;
    padding: 0 0 1px;
    text-align: center;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
    width: 24px;
    margin-left: 7px;
}

.nav-list>li.active .submenu,
.nav-list>li:hover:before {
    display: block;
}

.nav-list>li.active:before {
    display: block;
}

.nav-list>li:before {
    display: none;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #9D3033;
}

.nav-list>li.open:before {
    display: block;
}

.page-content {
    background-color: #ffffff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
    padding-top: 7px;
}

.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #3F4E54;
}

.sidebar+.main-content {
    margin-left: 190px;
}

.div-over {
    height: 100%;
    background-color: #000000;
    z-index: 1030;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    overflow: hidden;
    direction: ltr;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.div-over p {
    position: fixed;
    text-align: center;
    height: 100%;
    top: 40%;
    left: 46%;
    opacity: 1;
    font-size: 16px;
    color: white;
}

.div-over .fa-spin {
    font-size: 100px!important;
}

.sidebar-responsive {
    position: fixed!important;
    top: 45px!important;
}

.dark-black {
    background-color: #2c6aa0!important;
    border-bottom: 2px solid #EAAC20;
    margin-bottom: 0px;
}

.green {
    color: #69aa46 !important;
}

.top-0 {
    top: 0px!important;
}

.inline-block {
    display: inline-block!important;
}

.padding-0 {
    padding: 0px!important;
}

.nav-list>li>a:hover,
.nav-list>li>a:focus {
    text-decoration: none;
    background-color: #2d3638;
}

.nav-list li.active>a:after {
    border-right-color: #FFFFFF;
    -moz-border-right-colors: #FFFFFF;
    border-width: 11px 7px;
    top: 8px;
    right: 0;
}

.nav-list li.active>a:after {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    border-width: 14px 10px;
}

.nav-list>li.active>a {
    text-decoration: none;
    background-color: #2d3638;
}

.navbar-brand small {
    color: #FFFFFF;
    font-size: 20px;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

.table .form-control {
    height: 28px!important;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.label-lighter {
    font-weight: lighter;
}

.label-normal {
    font-weight: normal;
}

.navbar-brand {
    float: left;
    padding: 11px 12px!important;
    font-size: 18px;
    line-height: 20px;
    height: 45px!important;
}

.navbar {
    min-height: 45px!important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #113D63;
}

.header.blue {
    border-bottom-color: #d5e3ef;
}

h3.smaller {
    font-size: 21px;
}

.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
}

.blue {
    color: #478fca!important;
}

.lighter {
    font-weight: lighter;
}


/* CSS Datatables */

th,
td,
.table-bordered {
    border-radius: 0 !important;
}

.table>thead>tr {
    color: #707070;
    font-weight: normal;
    background: #F2F2F2;
    background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #ECECEC 100%);
    background-image: -o-linear-gradient(top, #F8F8F8 0%, #ECECEC 100%);
    background-image: linear-gradient(to bottom, #F8F8F8 0%, #ECECEC 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
}

.table>thead>tr>th {
    border-color: #ddd;
    font-weight: bold;
}

.table>thead>tr>th .ace-icon:first-child {
    margin-right: 2px;
}

.table>thead>tr>th:first-child {
    border-left-color: #F1F1F1;
}

.table>thead>tr>th:last-child {
    border-right-color: #F1F1F1;
}

.table.table-bordered>thead>tr>th {
    vertical-align: middle;
}

.table.table-bordered>thead>tr>th:first-child {
    border-left-color: #ddd;
}

th.center,
td.center {
    text-align: center;
}

th .lbl,
td .lbl {
    margin-bottom: 0;
}

th .lbl:only-child,
td .lbl:only-child {
    vertical-align: top;
}

.table-header {
    background-color: #307ECC;
    color: #FFF;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 1px;
}

.table-header .close {
    margin-right: 8px;
    margin-top: 0;
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.table-header .close:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

th.detail-col {
    width: 48px;
    text-align: center;
}

tr.detail-row {
    display: none;
}

tr.detail-row.open {
    display: block;
    display: table-row;
}

tr.detail-row>td {
    background-color: #f1f6f8;
    border-top: 3px solid #d1e1ea !important;
}

.table-detail {
    background-color: #fff;
    border: 1px solid #dcebf7;
    width: 100%;
    padding: 12px;
}

.table-detail td>.profile-user-info {
    width: 100%;
}

.widget-placeholder {
    border: 2px dashed #D9D9D9;
}

.percentage {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.infobox-small .percentage {
    font-size: 13px;
    font-weight: normal;
    margin-top: 2px;
    margin-left: 2px;
}

.error-container {
    margin: 20px;
    padding: 0;
    background: #FFF;
}

@media only screen and (max-width: 767px) {
    .error-container {
        margin: 12px;
    }
}

@media only screen and (max-width: 479px) {
    .error-container {
        margin: 6px;
    }
}

.item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-list>li {
    padding: 9px;
    background-color: #FFF;
    margin-top: -1px;
    position: relative;
}

.item-list>li.selected {
    color: #8090A0;
    background-color: #F4F9FC;
}

.item-list>li.selected label,
.item-list>li.selected .lbl {
    text-decoration: line-through;
    color: #8090A0;
}

.item-list>li>.checkbox {
    display: inline-block;
}

.item-list>li>label.inline {
    display: inline-block;
}

.item-list>li label {
    font-size: 13px;
}

.item-list>li .percentage {
    font-size: 11px;
    font-weight: bold;
    color: #777;
}

.item-list>li.ui-sortable-helper {
    cursor: move;
}

li[class*="item-"] {
    border: 1px solid #DDD;
    border-left-width: 3px;
}

li.item-orange {
    border-left-color: #E8B110;
}

li.item-orange2 {
    border-left-color: #F79263;
}

li.item-red {
    border-left-color: #D53F40;
}

li.item-red2 {
    border-left-color: #D15B47;
}

li.item-green {
    border-left-color: #9ABC32;
}

li.item-green2 {
    border-left-color: #0490A6;
}

li.item-blue {
    border-left-color: #4F99C6;
}

li.item-blue2 {
    border-left-color: #3983C2;
}

li.item-blue3 {
    border-left-color: #1144EB;
}

li.item-pink {
    border-left-color: #CB6FD7;
}

li.item-purple {
    border-left-color: #6F3CC4;
}

li.item-black {
    border-left-color: #505050;
}

li.item-grey {
    border-left-color: #A0A0A0;
}

li.item-brown {
    border-left-color: brown;
}

li.item-default {
    border-left-color: #ABBAC3;
}

.ui-sortable-placeholder,
.ui-sortable-helper,
.ui-sortable-placeholder>a,
.ui-sortable-helper>a {
    cursor: move !important;
}

@media only screen and (max-width: 480px) {
    .itemdiv.memberdiv {
        float: none;
        width: auto;
    }
}

.dataTables_length select {
    width: 70px;
    height: 25px;
    padding: 2px 3px;
}

.dataTables_length label {
    font-weight: normal;
}

.dataTables_filter {
    text-align: right;
}

.dataTables_filter input[type=text],
.dataTables_filter input[type=search] {
    width: 200px;
    height: 18px;
    line-height: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 6px;
}

.dataTables_filter label {
    font-weight: normal;
}

.dataTables_info {
    font-size: 14px;
}

.dataTables_paginate {
    text-align: right;
}

.dataTables_paginate .pagination {
    margin: 0 12px;
}

.dataTables_wrapper label {
    display: inline-block;
    font-size: 13px;
}

.dataTables_wrapper input[type=text],
.dataTables_wrapper input[type=search],
.dataTables_wrapper select {
    margin-bottom: 0 !important;
    margin: 0 4px;
}

.dataTables_wrapper .row {
    margin: 0 !important;
}

.dataTables_wrapper .row:first-child {
    padding-top: 6px;
    padding-bottom: 0px;
    background-color: #EFF3F8;
}

.dataTables_wrapper .row:first-child+.dataTable {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .row:last-child {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #EFF3F8;
}

.dataTables_wrapper .dataTables_scroll+.row {
    border-top: 1px solid #e0e0e0;
}

.dataTable {
    margin-bottom: 0;
}

.dataTable>thead>tr>th[class*=sort] {
    cursor: pointer;
}

.dataTable>thead>tr>th[class*=sort]:after {
    float: right;
    display: inline;
    content: "\f0dc";
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    color: #555;
}

.dataTable>thead>tr>th[class*=sort]:hover {
    color: #547EA8;
}

.dataTable>thead>tr>th[class*=sorting_] {
    color: #307ECC;
}

.dataTable>thead>tr>th.sorting_desc,
.dataTable>thead>tr>th.sorting_asc {
    background-image: -webkit-linear-gradient(top, #EFF3F8 0%, #E3E7ED 100%);
    background-image: -o-linear-gradient(top, #EFF3F8 0%, #E3E7ED 100%);
    background-image: linear-gradient(to bottom, #EFF3F8 0%, #E3E7ED 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
}

.dataTable>thead>tr>th.sorting_desc:after {
    content: "\f0dd";
    top: -6px;
    color: #307ECC;
}

.dataTable>thead>tr>th.sorting_asc:after {
    content: "\f0de";
    top: 4px;
    color: #307ECC;
}

.dataTable>thead>tr>th.sorting_disabled {
    cursor: inherit;
}

.dataTable>thead>tr>th.sorting_disabled:after {
    display: none;
}

.dataTables_scrollHead+.dataTables_scrollBody>.dataTable>thead>tr>th:after {
    display: none;
}

.dataTables_scrollHeadInner {
    width: auto !important;
}

.dataTables_scrollHeadInner>.dataTable>thead>tr>th {
    border-bottom-width: 0 !important;
}

.dataTables_borderWrap .dataTables_scrollBody,
.dataTables_borderWrap .dataTables_scrollHead {
    border: 1px solid #ddd !important;
    border-width: 0 1px !important;
}

.dataTables_borderWrap .dataTables_scrollBody .table-bordered,
.dataTables_borderWrap .dataTables_scrollHead .table-bordered {
    border-left-width: 0;
    border-right-width: 0;
}

.dataTables_borderWrap .dataTables_scrollBody .table-bordered>thead>tr>th:first-child,
.dataTables_borderWrap .dataTables_scrollHead .table-bordered>thead>tr>th:first-child,
.dataTables_borderWrap .dataTables_scrollBody .table-bordered>tbody>tr>td:first-child,
.dataTables_borderWrap .dataTables_scrollHead .table-bordered>tbody>tr>td:first-child {
    border-left-width: 0;
}

.dataTables_borderWrap .dataTables_scrollBody .table-bordered>thead>tr>th:last-child,
.dataTables_borderWrap .dataTables_scrollHead .table-bordered>thead>tr>th:last-child,
.dataTables_borderWrap .dataTables_scrollBody .table-bordered>tbody>tr>td:last-child,
.dataTables_borderWrap .dataTables_scrollHead .table-bordered>tbody>tr>td:last-child {
    border-right-width: 0;
}

table.dataTable {
    clear: both;
    max-width: none !important;
}

table.dataTable th:active {
    outline: none;
}

div.dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
}

.tableTools-container {
    margin-bottom: 8px;
    position: relative;
}

.gritter-item-wrapper.dt-button-info {
    padding: 12px 11px 8px;
    z-index: 1999;
}

.gritter-item-wrapper.dt-button-info>h2 {
    margin-top: 0;
}

.dt-button-collection .dropdown-menu {
    display: block;
    z-index: 1101;
}

.dt-button-collection .dropdown-menu>li>a {
    color: #888;
    text-decoration: line-through;
}

.dt-button-collection .dropdown-menu>li>a.active {
    color: #333;
    text-decoration: none;
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1100;
    opacity: 0.1;
}

.dataTable>tbody>tr.selected>td {
    background-color: #dff0d8;
}

.dataTable>tbody>tr.selected:hover>td {
    background-color: #d0e9c6;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 60px;
    margin-left: -40%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    border: 2px solid #DDD;
    background-color: rgba(255, 255, 255, 0.66);
}

.btn.multiselect-clear-filter {
    padding-left: 6px;
    padding-right: 6px;
    line-height: 1.45;
}

.multiselect-container>li>a {
    padding: 0;
}

.multiselect-container>li>a>label {
    padding: 7px 10px 7px 20px;
}

.paginate_button {
    border: 1px solid #d4dfe3;
    color: #2283c5;
    background-color: #fafafa;
    margin: 0 -1px 0 0;
    position: relative;
    z-index: auto;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginate_button:hover {
    text-decoration: none;
}

.paginate_button.disabled {
    color: #777777;
    cursor: not-allowed;
}

.paginate_button.current {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    z-index: 2;
    cursor: default;
}


/* /CSS Datatables */


/* tabs */

.tabbable {}

.tab-content {
    border: 1px solid #c5d0dc;
    padding: 16px 12px;
    position: relative;
}

.nav-tabs {
    border-color: #C5D0DC;
    margin-bottom: 0!important;
    position: relative;
    top: 1px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #576373;
    border-color: #c5d0dc #c5d0dc transparent;
    border-top: 2px solid #4c8fbd;
    background-color: #FFF;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
    border-radius: 0px;
}

.nav-tabs>li>a:hover {
    background-color: #FFF;
    color: #4c8fbd;
    border-color: #c5d0dc;
}

.nav-tabs,
.nav-tabs>li:first-child>a {
    margin-left: 0;
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus {
    border-radius: 0!important;
    border-color: #c5d0dc;
    background-color: #F9F9F9;
    color: #999;
    margin-right: -1px;
    line-height: 18px;
    position: relative;
}

.nav-tabs>li>a {
    padding: 7px 12px 8px;
}


/* /tabs */


/* gritter */

.gritter-center {
    position: fixed;
    left: 0;
    right: 0;
    top: 33%;
    max-width: 300px;
    margin: auto;
}

.gritter-close {
    left: auto;
    right: 6px;
    width: 18px;
    height: 18px;
    line-height: 17px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 16px;
    color: #E17B67;
    text-indent: initial;
    font-size: 16px;
}

.gritter-close:hover {
    color: #FFFFFF!important;
}

.gritter-item-wrapper {
    background-image: none!important;
    box-shadow: 0 2px 10px rgba(50, 50, 50, .5);
    background: rgba(50, 50, 50, .92);
}

.gritter-bottom,
.gritter-close,
.gritter-item,
.gritter-top {
    background-image: none;
}

.gritter-item-wrapper.gritter-info {
    background: rgba(49, 81, 133, .92);
}

.gritter-info .gritter-close {
    color: orange;
}

.gritter-item-wrapper.gritter-warning {
    background: rgba(190, 112, 31, .92);
}

.gritter-warning .gritter-close {
    color: #FFEA07;
}

.gritter-item-wrapper.gritter-success {
    background: rgba(89, 131, 75, .92);
}

.gritter-success .gritter-close {
    color: #FFEA07;
}

.gritter-item-wrapper.gritter-error {
    background: rgba(153, 40, 18, .92);
}


/* /gritter */

.list-item-container {
    padding-top: 30px;
}

.input-in-datable {
    border-radius: 0px!important;
    margin: 0px!important;
    max-width: 200px;
}


/* button */

.btn {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-image: none!important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: background-color .15s, border-color .15s, opacity .15s;
    -o-transition: background-color .15s, border-color .15s, opacity .15s;
    transition: background-color .15s, border-color .15s, opacity .15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
}

.btn-primary,
.btn-primary:focus {
    background-color: #428bca!important;
    border-color: #428bca;
}

.btn-success,
.btn-success:focus {
    background-color: #449d44;
    border-color: #449d44;
}

.btn-danger,
.btn-danger:focus {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-xxs {
    border: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 3px 7px;
}

.input-group-btn>.btn-group {
    border: 0px;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 13px;
}


/* / button */


/* input icon */

span.input-icon {
    display: inline-block;
    width: 100%;
}

.input-icon {
    position: relative;
}

.input-icon.input-icon-right>input {
    padding-left: 6px;
    padding-right: 24px;
}

.input-icon.input-icon-left>input {
    padding-right: 6px;
    padding-left: 24px;
}

.input-icon>input {
    padding-left: 24px;
    padding-right: 6px;
}

input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
textarea {
    border-radius: 0!important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

.noresize {
    resize: none;
    height: 100px!important;
}

.form-control,
select {
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
}

.input-icon.input-icon-right>.ace-icon {
    left: auto;
    right: 3px;
}

.input-icon>.ace-icon {
    padding: 0 3px;
    z-index: 2;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 3px;
    line-height: 30px;
    display: inline-block;
    color: #909090;
    font-size: 16px;
    pointer-events: none;
}

.ace-icon {
    text-align: center;
}


/* /input icon */

.hand {
    cursor: pointer!important;
}

.mark-important {
    font-size: 16px!important;
    font-weight: bold!important;
    color: red!important;
}

.bg-green {
    background-color: #dff0d8!important;
}

.bg-red {
    background-color: #f2dede!important;
}

.bg-yellow {
    background-color: #FFE97E!important;
}

.text-center {
    text-align: center!important;
}

.modal.fade {
    background-color: rgba(0, 0, 0, 0.5);
}

.label_red {
    color: red;
}

.form-horizontal.form-left .control-label {
    text-align: left!important;
}

.font-normal {
    font-weight: normal!important;
}