/*Modales para crear y editar*/
h4 {
    font-weight: bold !important;
}
.input_oculto[readonly] {
    text-align: right;
    background-color: transparent !important;
    border-style: none;
    cursor: text;
    border-color: transparent !important;
    border: 0px;
}

.input_oculto:focus {
    text-align: right;
    background-color: transparent !important;
    border-style: none;
    cursor: text;
    border-color: none !important;
    border: 0px;
    outline: 0 none;
}

.label-form {
    font-weight: bold;
    color: black;
    text-align: right;
}

.span-label {
    color: red;
}

.modal-body .form-body {
    padding: 0px;
}

.check {
    min-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    position: relative;
    display: block;
    padding-left: 0;
}

.label_checkbox {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.check_input {
    margin-left: 0px !important;
}

.modal-header {
    border-bottom: 3px solid #881b1f;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    background-color: #275360!important;
}


/*Modales para ver y eliminar*/

.font-bold {
    font-weight: bold;
}

h4 {
    margin-bottom: -15px;
}

.headers-delete {
    font-weight: bold !important;
    color: #d20505 !important;
}

.headers-view {
    font-weight: bolder !important;
    color: mediumseagreen;
}


/*Modal editar documento y pasar documento acepta a documentos del sistema*/

.fechas {
    cursor: pointer;
}

.td_items {
    text-align: right;
    font-weight: bold;
    padding-top: 15px !important;
}

.td_items_dos {
    padding-top: 15px !important;
}

.noresize {
    resize: none;
    height: 100px!important;
}

.noresize-small {
    resize: vertical;
    height: 55px;
}

.atencion {
    color: #2f2afb;
    font-weight: bold;
    text-decoration: underline wavy red;
}


/*Modal Trazabilidad*/

.headers-traceability {
    font-weight: bolder !important;
    color: #557ef9;
    ;
}

.th_sigfe {
    background-color: #f9f9f9 !important;
}

.align_middle {
    vertical-align:middle !important;
    text-align: center;
}